.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.prediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 25px;
}

.form {
  margin: 25px 0px;
}