.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.statsContainer {
  margin-bottom: 25px;
}

.prediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 25px;
}

.form {
  width: 100%;
  background-color: #CCCCCC;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cardBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.statComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  width: 120px;
}